<p>Paton(s): <input ng-model="patron" type="text" placeholder="patron(s)"></p>
<p>Familiar:  <input ng-model="familiar" type="text" placeholder="familiar"> </p>
<p>Corruption:  <input ng-model="corruption" type="text" placeholder="corruption"> </p>
<p>Spell Check: {{ spellCheck }}</p>
<p>Can cast up to spell level: {{ currentSpellCastingLevel }}</p>
<p>Number of Spells Known: {{ spellsKnown }}</p>
<p>Maximum Spell Casting Level: {{ maximumSpellCastingLevel }}</p>
<p>Lucky Spell: <input ng-model="luckySpell" type="text" placeholder="lucky spell"></p>

